autom*
config.*
depcomp
install-sh
missing
test-driver
Makefile.in
src/*.o
src/*.so
dist
.idea/*
*.iml
*.ipr
*.iws
out/
test/
run_local.sh
.tmp
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
.Rproj.user
Makefile
aclocal.m4
configure
cstat_tests
cstat_tests.log
cstat_tests.trs
libcstat.a
test-suite.log

